section.container.simulation {
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

.simulation {
    width: 65vw;
    margin: 0 auto;
}

.simulation .simulation__heading {
    margin: 0;
    padding: 1vw 0;
    font-size: 1.5vw;
    background-color: var(--primary-color);
    color: #fff;
    width: 100%;
    text-align: center;
    font-weight: 700;
}

@media screen and (max-width:768px) {
    .simulation {
        width: 100%;
        margin: 0;
    }

    .simulation .simulation__heading {
        padding: 2.2vw 0;
        font-size: 4vw;
    }
}