.simulation__wrapper {
    padding: 5vw 10vw;
}

.simulation__col_container .simulation__heading {
    background-color: var(--primary-color);
    padding: 2vw;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    margin: 0;
}

.simulation__radio_group {
    background-color: white;
    padding: 3vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}