.simulation__radio_group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    min-height: 10vw;
    padding: 5vw 2vw;
    background-color: #fff;
}

.simulation__item {
    padding: 5vw 2vw;
    font-size: 1.7vw;
}

.simulation__radio_group label.simulation__item {
    border: 2px solid #aaa;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
}

.simulation__radio_group label.simulation__item::before {
    display: none;
}

.simulation__radio_group .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background: none rgb(255, 206, 31);
    border: 3px solid rgb(0, 153, 0);
    color: #000;
}

.simulation__radio_group .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    border: 3px solid rgb(0, 153, 0);
    background: none rgb(255, 206, 31);
    color: #000;
}

.simulation__heading {
    margin: 0;
    padding: 1vw 0;
    font-size: 1.5vw;
    background-color: var(--primary-color);
    color: #fff;
    width: 100%;
    text-align: center;
    font-weight: 700;
}

@media screen and (max-width:768px) {
    .simulation__radio_group {
        grid-template-columns: repeat(2, 1fr);
    }

    .simulation__item {
        padding: 7vw 2vw;
        font-size: 4vw;
    }

}