.recruitment {
    max-width: 75vw;
    margin: 0 auto;
}

.recruitment .ant-descriptions-view {
    border-radius: 0;
}

.recruitment .ant-descriptions.ant-descriptions-bordered .ant-descriptions-view {
    border: 1px solid #ccc;
}

.recruitment .ant-descriptions.ant-descriptions-bordered .ant-descriptions-row {
    border-bottom: 1px solid #ccc;
    color: #000;

}

.recruitment .ant-descriptions.ant-descriptions-bordered .ant-descriptions-row:last-child {
    border-bottom: 0;
}

.recruitment .ant-descriptions.ant-descriptions-bordered .ant-descriptions-item-label {
    border-inline-end: 1px solid #ccc;
    font-size: 1.5vw;
    padding: 0.6em;
    font-weight: 700;
    color: #000;
    width: 30%;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    background-color: var(--background-color);
}

.recruitment .ant-descriptions.ant-descriptions-bordered .ant-descriptions-item-content {
    font-size: 1.5vw;
    padding: 0.6em;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
}

.recruitment p {
    margin: 0;
}

.recruitment br {
    display: none;
}

@media screen and (max-width: 768px) {
    .recruitment {
        max-width: 100%;
        margin: 0;
    }

    .recruitment .ant-descriptions.ant-descriptions-bordered .ant-descriptions-item-label {
        font-size: 3.2vw;
        width: 25%;
    }

    .recruitment .ant-descriptions.ant-descriptions-bordered .ant-descriptions-item-content {
        font-size: 3.2vw;
    }

    .recruitment br {
        display: block;
    }
}