.recruitment__container {
    padding: 5vw 10vw;
}

.recruitment__row-item {
    border-top: 1px solid #D5DAE0;
    border-left: 1px solid #D5DAE0;
}

.recruitment__heading, .recruitment__text {
    border-right: 1px solid #D5DAE0;
    height: 100%;
}

.recruitment__row-item:last-child {
    border-bottom: 1px solid #D5DAE0;
    height: 100%;
}

.recruitment__heading {
    margin: 0;
    padding: 1vw;
    font-size: 1.5vw;
    font-weight: bold;
    letter-spacing: 0.1vw;
    display: flex;
    align-items: center;
}

.recruitment__text {
    margin: 0;
    padding: 1vw;
    font-weight: 300;
    letter-spacing: 0.1vw;
    font-size: 1.3vw;
}

@media screen and (max-width: 768px) {
    .recruitment__container {
        padding: 5vw 3vw;
    }

    .recruitment__heading {
        padding: 1.5vw;
        font-size: 2.5vw;
        font-weight: bold;
    }

    .recruitment__text {
        margin: 0;
        padding: 1.5vw;
        font-weight: 300;
        font-size: 2.25vw;
    }
}