.img-component__container {
    position: relative;
    margin-right: 3vw;
}

.img-component__image {
    width: 100%;
    filter: brightness(0.7);
    border-radius: 50%;

}

.img-component__icon-group {
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-component__icon {
    height: 8vw;
}

.img-component__icon-group .img-component__heading {
    font-size: 1.5vw;
    margin-top: 2.5vw;
    color: white;
    font-weight: bold;
}

@media (max-width: 768px) {
    .img-component__container {
        margin-right: 0;
        padding: 0 10vw;
    }

    .img-component__icon {
        height: 17vw;
    }

    .img-component__icon-group .img-component__heading {
        font-size: 4.5vw;
        margin-top: 2.5vw;
    }
}