.renovation__slider {
    width: 100%;
    position: relative;
}

.renovation-slider__text {
    position: absolute;
    width: 100%;
    height: 30%;
    top: 63%;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    align-items: center;
    gap: 1vw;
    padding: 1vw;
    box-sizing: content-box;

}

.renovation-slider__text .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vw;
}

.renovation-slider__text .wrapper h3 {
    margin: 0;
    font-size: 1vw;
    background-color: #008C99;
    color: #fff;
    padding: 0.6vw 1.5vw;
    font-weight: 700;
}

.renovation-slider__text .wrapper p {
    margin: 0;
    font-size: 1vw;
    padding: 0.5vw 0.75vw;
    font-weight: 700;
}