.renovation {
    max-width: 70%;
    margin: 0 auto;
    padding: 5vw 0;
}

.renovation p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .renovation {
        max-width: 100%;
        margin: 0;
        padding: 5vw 2vw;
    }
}