.slider-cover__slider {
    margin-bottom: 30px;
}

.slider-cover__slider .slick-slide img {
    height: 50vw;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.slider-cover__slider .slick-dots {
    display: flex !important;
    bottom: -3.5vw;
    gap: 1.25vw;
    justify-content: center;
    align-items: center;
}

.slider-cover__slider .slick-dots li button:before {
    display: none;
}

.slider-cover__slider .slick-dots li button {
    width: 1.25vw;
    height: 1.25vw;
    padding: 0.3vw;
    background-color: #99b3d5;
    content: "";
    border-radius: 50%;
}

.slider-cover__slider .slick-dots li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5vw;
    opacity: 0.75;
    height: 100%;
}

.slider-cover__slider .slick-dots .slick-active button {
    background-color: var(--primary-color);
}

@media screen and (max-width: 768px) {
    .slider-cover__slider .slick-slide img {
        height: 100vw;
    }

    .slider-cover__slider .slick-dots {
        bottom: -5vw;
    }

    .slider-cover__slider .slick-dots li button {
        padding: 5px;
    }
}

@media screen and (max-width: 350px) {
    .slider-cover__slider .slick-dots {
        bottom: -10vw;
    }

    .slider-cover__slider .slick-dots li button {
        padding: 3.5px;
    }
}