header.ant-layout-header.header__topPage.css-dev-only-do-not-override-k7429z,
header.ant-layout-header.header__topPage.css-k7429z {
    background-color: white;
}

.top-page__container {
    width: 100%;
    max-width: 100vw;
}

.top-page__header {
    width: 100%;
}

.top-page__slider {
    width: 100%;
    max-width: 100vw;
}