.content__container {
    height: 100%;
    width: 100%;
    /* padding: 5vw 2vw; */
}

.ig__container {
    padding: 5vw 0;
}

img.slick-slide-image {
    border-radius: 50%;
    width: 80%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5)
}

.slider-wrapper {
    height: 100%;
    padding: 0 10vw 2vw;
}

.thumbnail-slider-wrap {
    position: relative;
    margin-top: 2vw;
    width: 100vw;
}

.slick-slide {
    text-align: center;
    width: 100vw;
}

.slider__button_group {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
}

button.slider__button {
    padding: 0.5vw;
    border-radius: 50%;
    opacity: 0.5;
}

button.slider__button.button-left {
    margin-right: 12vw;
}

.button__slide_icon {
    font-size: 3vw;
}

.slick-slide-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    top: 50%;
    height: 6vw;
    width: auto;
    max-width: 100%;
    transform: translate(30%, -45%);
}

.slick-slide-title {
    color: white;
    margin-top: 2vw;
    font-size: 1.5vw;
}

.ig__info_title {
    width: 100vw;
}

.ig__info_text {
    display: block;
}

.ig__info_heading {
    font-size: 5vw;
    color: #004097;
    margin: 0;
}

.ig__divider {
    margin: 0 0 2vw;
    font-size: 2px;
    background-color: #99b3d5
}

.ig__info_para {
    font-size: 1.5vw;
}

.ig__info_text {
    padding: 0 2vw 0 0;
}

.ig__info_group {
    padding: 0 10vw 2vw;
}

.span__text {
    font-size: 2.5vw;
}

.bg__simulation {
    position: relative;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.img__simulation {
    width: 50vw;
    position: absolute;
}

.info__group {
    display: flex;
    height: 20vw;
    justify-content: space-between;
}

.info__group_bg {
    width: 100%;
    background-size: cover;

}