.content .heading {
    display: flex;
    align-items: baseline;
    font-size: 5vw;
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    color: var(--primary-color);
    line-height: 1;
    border-bottom: 2px solid #99b3d5;
    margin: 0;
    font-weight: 700;
}

.content .heading strong {
    font-size: 2.5vw;
}

.content .info_text {
    padding-top: 1.875vw;
    padding-bottom: 6.25vw;
}

.content .info_text p {
    font-size: 1.5vw;
    line-height: 2.25vw;
    margin: 0;
    color: #333333;
}

@media screen and (max-width: 768px) {
    .content .heading {
        font-size: 8vw;
    }

    .content .heading strong {
        font-size: 4vw;
        padding-left: 1.5vw;
    }

    .content .info_text p {
        font-size: 3.25vw;
        line-height: 4vw;
    }
}