.header__row {
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 3vw;
    padding: 0 1.8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__row_navbar {
    display: flex;
    align-items: stretch;
}

.header__row_navbar .header__col_navbar {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vw 0 0 5vw;
    padding: 0.8vw 0;
}

.header__row_navbar .header__col_navbar ul {
    border: none;
}

img.image__logo {
    width: 18vw;
}

img.header__icon {
    width: 3vw;
}

p.header__text {
    margin: 0;
    font-size: 1vw;
    color: white;
    display: flex;
    align-items: center;
}

.header__col_mail {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: white;
    border-radius: 0 5vw 5vw 0;
    padding: 0.8vw 0;
}

.header__col_mail a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__row_navbar .header__col_navbar ul li {
    font-size: 1vw;
    margin: 0 1.5vw;
    padding: 0;
}

@media (max-width: 768px) {
    img.image__logo {
        width: 35vw;
    }
}