.img-cover__container {
    height: 30vw;
    position: relative;
}

.img-cover__container .content__wrapper {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2vw 0;
}

.img-cover__container .img-cover__image {
    height: 100%;
    width: 100%;
    filter: brightness(50%);
    object-fit: cover;
    object-position: center;
}

.img-cover__container .img-cover__heading {
    color: #fff;
    font-size: 4vw;
    font-weight: 700;
    margin: 0 auto;
    padding: 0 2.25vw;
    width: 75vw;
}

.img-cover__container .img-cover__heading strong {
    padding-left: 3vw;
    font-size: 2vw;
    position: relative;
}

.img-cover__heading strong::before {
    content: '';
    position: absolute;
    background-color: #ffffff;
    width: 1.3vw;
    height: 0.15vw;
    top: 50%;
    left: 1vw;
}


@media screen and (max-width: 768px) {
    .img-cover__container {
        height: 60vw;
    }

    .img-cover__container .img-cover__heading {
        display: flex;
        flex-direction: column;
        gap: 1vw;
        font-size: 7vw;
        padding: 0 3vw;
        margin: 0;
        width: 100%;
    }

    .sub_head .sub_head_title {
        padding: 3vw 0;
    }

    .img-cover__container .img-cover__heading strong {
        font-size: 3.5vw;
        padding: 0;
    }

    .img-cover__heading strong::before {
        display: none;
    }
}