.App {
    min-height: 100vh;
    max-width: 100vw;
}

.app__top-page {
    width: 100%;
    height: 100%;
}

.container {
    padding: 5vw 2.25vw;
}

.button {
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    background-color: var(--primary-color);
    color: #fff;
    height: 100%;
}

@media screen and (max-width:768px) {
    .container {
        padding: 7.5vw 2vw;
    }
}