@font-face {
  font-family: 'Yu Mincho';
  src: url('./fonts/yumin.ttf') format('truetype');

  font-family: 'Yu Gothic';
  src: url('./fonts/yugothib.ttf') format('truetype');

  /* Add additional font formats if necessary */
}

:root {
  --primary-color: #004097;
  --secondary-color: #00204c;
}

body {
  background-color: #E6ECF5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body,
h1,
h2,
h3,
h4,
p,
ol,
ul,
a {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
}

/* @media (min-width: 1600px) {
  body {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
} */