.privacy__policy {
    max-width: 75vw;
    margin: 0 auto;
}

.privacy__policy dl {
    padding: 2vw;
    margin: 0 0 1vw 0;
    background-color: #fff;

}

.privacy__policy dl dt {
    font-size: 1.5vw;
    margin-bottom: 0.7vw;
    font-weight: 400;
}

.privacy__policy dd, .privacy__policy ol>li {
    font-size: 1vw;
    line-height: 2;
    color: #000;
    margin: 0;
    font-weight: 400;
}

.privacy__policy dl dd ol {
    padding-left: 1.5vw;
}

.privacy__policy p {
    margin: 0;
}

.privacy__policy a {
    font-weight: 400;
}

.button__return_wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3.75vw;
}

.button__return_wrapper .button__return {
    padding: 1vw 4.5vw;
    border-radius: 2vw;
    font-size: 1.2vw;
    font-weight: 700;
}


@media screen and (max-width: 1600px) {
    .privacy__policy dl {
        padding: 2vw;
        margin: 0 0 1vw 0;
    }
}

@media screen and (max-width: 768px) {
    .privacy__policy {
        max-width: 100%;
        margin: 0;
    }

    .privacy__policy dl {
        padding: 3vw;
        margin-bottom: 2vw;
    }

    .privacy__policy dl dt {
        font-size: 4.5vw;
        margin-bottom: 0.7vw;
    }

    .privacy__policy dd, .privacy__policy ol>li {
        font-size: 3vw;
        line-height: 2;
    }

    .privacy__policy dl dd ol {
        margin: 0;
        padding-left: 5vw;
    }

    .button__return_wrapper {
        margin-top: 0;
    }

    .button__return_wrapper .button__return {
        margin: 5vw auto;
        width: 80%;
        display: block;
        padding: 3vw 4.5vw;
        border-radius: 6vw;
        font-size: 3.5vw;
    }
}